Repository N3Twork-nc/Web_Shop: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-vul.yml, azure-pipelines.yml, azure-pipelines_webadmin.yml

Path conditions:
  azure-pipelines-vul.yml: any of: src/vul
  azure-pipelines.yml: any of: src/webshopping
  azure-pipelines_webadmin.yml: any of: src/webadmin

edit connect db
  src/webshopping/mvc/core/DB.php
Due: azure-pipelines.yml

edit web admin allow all
  manifests/deployment-webadmin.yml
  manifests/service-webadmin.yml
  src/webadmin/mvc/Bridge.php
Due: azure-pipelines_webadmin.yml

edit web admin service
  manifests/service-webadmin.yml
Due: none

edit web admin service
  manifests/deployment-webadmin.yml
  src/webadmin/mvc/controllers/AuthController.php
Due: azure-pipelines_webadmin.yml

delete capcha webadmin
  src/webadmin/mvc/views/admin/login.php
Due: azure-pipelines_webadmin.yml

test
  manifests/deployment-app.yml
  manifests/pv.yaml
  manifests/pvc.yaml
  terraform/main.tf
  terraform/terraform.tfstate
  terraform/terraform.tfstate.backup
Due: none

test admin
  src/webadmin/mvc/controllers/AuthController.php
  src/webadmin/mvc/models/AdminModel/Admin.php
  src/webadmin/mvc/models/CustomerModel/Customer.php
Due: azure-pipelines_webadmin.yml

file
  manifests/deployment-app.yml
  manifests/namespcae.yaml
  manifests/pv.yaml
  manifests/storage.yaml
  terraform.tfstate
  terraform/.terraform.lock.hcl
  terraform/main.tf
  terraform/outputs.tf
  terraform/provider.tf
  terraform/terraform.tfstate
  terraform/terraform.tfstate.backup
Due: none

file share
  manifests/deployment-webadmin.yml
  manifests/pv.yaml
  terraform/main.tf
Due: none

edit login admin
  src/webadmin/mvc/controllers/AuthController.php
Due: azure-pipelines_webadmin.yml

edit login admin
  src/webadmin/mvc/views/admin/dashboard_category.php
Due: azure-pipelines_webadmin.yml

fix admin login
  src/webadmin/mvc/Bridge.php
  src/webadmin/mvc/controllers/AuthController.php
  src/webadmin/mvc/models/AdminModel/Admin.php
  src/webadmin/mvc/models/CustomerModel/Customer.php
  src/webadmin/mvc/views/admin/login.php
Due: azure-pipelines_webadmin.yml

fix admin login
  src/webadmin/mvc/views/admin/dashboard_category.php
Due: azure-pipelines_webadmin.yml

edit admin
  src/webadmin/mvc/Bridge.php
Due: azure-pipelines_webadmin.yml

edit admin
  src/webadmin/mvc/controllers/AuthController.php
Due: azure-pipelines_webadmin.yml

finanl
  terraform/main.tf
  terraform/terraform.tfstate
  terraform/terraform.tfstate.backup
Due: none

finanl
  terraform/variables.tf
Due: none
